@import "new_styles/abstract/mixins";

.container {
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.6rem 1.6rem 13rem 1.6rem;
  margin: 0 auto;
  max-width: 108rem;

  @include respond(sm) {
    flex-wrap: wrap;
  }
}

.info {
  margin-right: 3.5rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__owner {
    margin-bottom: 1.3rem;
    background: rgba(132, 132, 132, 0.48);
  }

  &__title {
    margin: 0;
    color: var(--color-green);
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 1.7;
    max-width: 43.3rem;
    margin: 0;
    margin-bottom: 2.5rem;
    font-weight: 400;
  }

  &__divider {
    margin-bottom: 2.5rem;
    width: 100%;
    height: 0.1rem;
    background-color: #252540;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-self: stretch;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    & button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      cursor: pointer;
      margin-left: 1rem;

      & svg {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0;
      }
    }

    > span:nth-child(1) {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      display: block;
      color: var(--color-light-blue);
    }

    > span:nth-child(2) {
      font-size: 1.8rem;
      font-weight: 500;
      display: flex;
      align-items: center;

      > button {
        & svg {
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
          color: var(--color-light-blue);
        }
      }
    }
    @include respond(sm) {
      min-width: unset;
      width: fit-content;
    }
  }

  &__link {
    &:hover {
      color: var(--color-light-blue);
    }
  }

  &__btn {
    align-self: stretch;
  }
  @include respond(sm) {
    margin-left: 0rem;
    margin-right: 0rem;
    flex: unset;
  }
}

.figures {
  display: flex;

  @include respond(sm) {
    display: block;
  }

  @include respond(xs) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -3rem;
    margin-bottom: -4rem;
  }

  & > svg {
    margin-right: 4.5rem;
    width: 4.7rem;
    height: 4.7rem;
    color: var(--color-green);
    margin-top: 15rem;

    @include respond(sm) {
      margin: auto;
      margin-top: 5rem;
    }

    @include respond(xs) {
      margin-right: 0;
      margin-top: 5rem;
      margin-bottom: -3rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    margin-bottom: 1.6rem;
    cursor: pointer;

    img,
    video {
      height: 55.3rem;
      width: 44rem;
      object-fit: cover;

      @include respond(md) {
        height: 48.9rem;
        width: 38.8rem;
        max-width: 38.8rem;
        min-height: none;
        min-width: none;
      }

      @include respond(xs) {
        height: 35.5rem;
        width: 27.4rem;
        max-width: 27.4rem;
      }

      &:nth-child(1) {
        z-index: 2;
        transform: rotate(2deg);
      }

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
        transform: rotate(-2deg);
      }
    }

    &--portrait {
      margin-bottom: -100px;
      img,
      video {
        width: 55.3rem;
        height: 44rem;
        object-fit: contain;
        transform-origin: center;

        @include respond(md) {
          width: 48.9rem;
          min-width: 48.9rem;
          height: 38.8rem;
          max-height: 38.8rem;
        }

        @include respond(xs) {
          width: 35.5rem;
          min-width: 25rem;
          height: 27.4rem;
          max-height: 27.4rem;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * + * {
      margin-left: 1.5rem;
    }
  }

  &__action {
    color: #a2a2be;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.8rem;
    width: 3.8rem;
    background: none;
    cursor: pointer;
    border: 0.15rem solid #a2a2be;
    border-radius: 10rem;
    opacity: 0.8;

    & svg {
      height: 2rem;
      width: 2rem;
      transform: translateY(1px);
    }
  }
}

.hover_pink_button {
  &:hover {
    color: var(--color-green);
    outline: var(--color-green);
    border-color: var(--color-green);
    border: 0.15rem solid var(--color-green);
    filter: drop-shadow(0 0 0.3rem var(--color-green));
  }
  &:focus {
    outline: none;
  }
}

.pink_button {
  color: var(--color-green);
  outline: var(--color-green);
  border-color: var(--color-green);
  border: 0.15rem solid var(--color-green);
  filter: drop-shadow(0 0 0.3rem var(--color-green));
}

.hover_blue_button {
  &:hover {
    color: var(--color-light-blue);
    outline: var(--color-light-blue);
    border-color: var(--color-light-blue);
    border: 0.15rem solid var(--color-light-blue);
    filter: drop-shadow(0 0 0.3rem var(--color-light-blue));
  }
  &:focus {
    outline: none;
  }
}

.blue_button {
  color: var(--color-light-blue);
  outline: var(--color-light-blue);
  border-color: var(--color-light-blue);
  border: 0.15rem solid var(--color-light-blue);
  filter: drop-shadow(0 0 0.3rem var(--color-light-blue));
}

.ground-shape {
  position: absolute;
  z-index: -2;
  bottom: 0rem;
  opacity: 0.1;
  width: 100%;
  left: 0;
  overflow: hidden;

  & div {
    background: linear-gradient(
      to bottom,
      var(--bg-main-color),
      var(--bg-main-color),
      transparent,
      var(--bg-main-color)
    );
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & svg {
    transform: scale(1.2);
  }
}

.hide {
  img,
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
  }
}
