@import "new_styles/abstract/mixins";

.footer {
  width: 100%;
  padding: 5rem 1.6rem 5rem 1.6rem;
  position: relative;

  @include respond(xs) {
    padding: 3rem 1.6rem 6rem 1.6rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.title {
  font-weight: bold;
  font-size: 7.7rem;
  line-height: 0.9;
  letter-spacing: -0.5rem;
  color: var(--bg-main-color);
  display: block;
  margin: 0;
  -webkit-text-stroke: 0.15rem var(--color-light-blue);
  text-shadow: 0 0 0.6rem var(--color-light-blue);
  margin-bottom: 2rem;

  @include respond(sm) {
    font-size: 6rem;
  }

  @include respond(xs) {
    font-size: 3rem;
    letter-spacing: -0.05rem;
    margin-bottom: 3rem;
    line-height: 1.2;
  }
}

.desc {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.8;
  max-width: 48rem;
  margin-bottom: 3rem;

  & span {
    color: var(--color-green);
  }

  @include respond(xs) {
    font-size: 1.4rem;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-top: 7rem;
  margin-inline: 2rem;

  @include respond(xs) {
    margin-top: 3rem;
    padding: 3rem 1.6rem 3rem 1.6rem;
    flex-direction: column;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      > a {
        padding: 0 2rem;
      }
    }
  }
}

.nav-item {
  color: var(--color-green);
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;

  &:hover {
    color: var(--color-light-blue);
  }
}

.copyright {
  margin-top: 14rem;
  font-size: 1.7rem;
  color: var(--color-gray);
  font-weight: 300;
}

.ground-svg {
  position: absolute;
  bottom: 0rem;
  opacity: 0.1;
  width: 100%;
  left: 0;
  overflow: hidden;

  & div {
    background: linear-gradient(
      to bottom,
      var(--bg-main-color),
      var(--bg-main-color),
      transparent,
      var(--bg-main-color)
    );
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & svg {
    transform: scale(1.2);
  }
}

.circle-svg {
  position: absolute;
  bottom: 14rem;
  right: 5rem;
  width: 34rem;
  height: 34rem;

  @include respond(xs) {
    width: 25rem;
    height: 25rem;
    right: 2rem;
    bottom: 20rem;
  }
}
