.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
  grid-gap: 2.5rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.actions {
  display: flex;
  justify-content: center;
}
