@import "new_styles/abstract/mixins";

.container {
  max-width: 139.2rem;
  padding: 0 1.6rem 5rem 1.6rem;
  margin: 0 auto;

  &--has-filter {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 2rem;

    @include respond(sm) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    .aside {
      grid-column: 1 / span 1;
      grid-row: 1 / -1;
    }

    .grid {
      grid-column: 2 / -1;

      @include respond(sm) {
        grid-column: 1 / -1;
      }
    }
  }
}
