.modal {
  padding: 0;
  box-shadow: none;
  border-radius: 1rem;
  overflow: hidden;

  & > div {
    padding: 0;
  }
}

.container {
  max-height: 95vh;
  max-width: 95vw;

  img {
    width: 100%;
  }

  video {
    border-radius: 1.4rem;
    width: -webkit-fill-available;
  }
}
