@import "new_styles/abstract/mixins";

.container {
  max-width: 111.2rem;
  padding: 5rem 1.6rem;
  margin: 0 auto;

  & > * + * {
    margin-top: 4.5rem;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  margin-bottom: 4rem;
}

.qr-code {
  width: 29rem;
  height: 29rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 6rem;
  flex: 0 0 auto;

  & img {
  }
  & video {
    width: 100%;
    height: 100%;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-title {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--color-green);
}

.list {
  list-style: none;

  & > * + * {
    margin-top: 1rem;

    @include respond(xs) {
      margin-top: 2rem;
    }
  }

  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include respond(xs) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    & span {
      word-break: break-all;
    }

    & > div {
      display: flex;
      align-items: center;

      & svg {
        margin-right: 1rem;
      }
    }
  }

  & a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }
}

.meta {
  background: rgba(22, 22, 44, 0.75);
  backdrop-filter: blur(1.6rem);
  padding: 1.8rem 2.4rem;
  & hr {
    width: 40%;
    margin: 4rem auto;
    border-color: rgb(158, 158, 158);
  }
}

.no-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-green);
}
