.btn {
  background: none;
  background-color: var(--color-white-dark);
  border: none;
  color: #16110e;
  padding: 1.3rem 2.3rem;
  display: flex;
  align-items: center;
  margin: 0;
  border-radius: 1.3rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1rem 2rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  line-height: 1.5;

  &:hover {
    transform: scale(1.02);
  }
}

// accents
.orange {
  background-color: #bd7839;
}

// sizes
.small {
  font-size: 1.4rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.8rem;
}
