@import "new_styles/abstract/mixins";

.accordion {
  background: linear-gradient(208.01deg, #14143d 8.59%, #101029 92.31%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem 0;
  border: 0.2rem solid rgba(255, 255, 255, 0.4);

  &--open {
    .summary svg {
      transform: rotate(180deg);
    }
  }
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 500;
  background: none;
  border: none;
  color: var(--color-light-blue);
  text-align: left;
  line-height: 1.5;

  @include respond(xs) {
    font-size: 1.6rem;
    padding: 1.5rem;
  }

  &:focus {
    outline: none;
  }

  & svg {
    height: 2rem;
    width: 2rem;
    flex: 0 0 auto;
    transition: all 0.2s ease-in-out;
    color: var(--color-green);
  }
}

.details {
  padding: 2rem;
  padding-top: 0;
  line-height: 1.6;

  @include respond(xs) {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}
