@import "new_styles/abstract/mixins";

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;

  h2 {
    font-size: 2.6rem;
    color: var(--color-green);
  }

  a {
    color: var(--color-white);

    svg {
      width: 4.7rem;
      height: auto;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.3rem, 32.3rem));
  grid-auto-rows: 38.8rem;
  grid-gap: 2rem;
  justify-content: center;

  // layouts
  &--home {
    display: grid;
    grid-template-columns: 39.5rem 39.5rem 1fr;
    grid-template-rows: repeat(2, 28.2rem);
    grid-gap: 2.2rem;

    & div:nth-child(3) {
      grid-column: 3/5;
      grid-row: 1/3;
    }

    @include respond(md) {
      grid-template-columns: repeat(auto-fit, minmax(32.3rem, 34rem));
      grid-template-rows: unset;
      grid-auto-rows: 28.2rem;
      justify-content: center;

      & div:nth-child(3) {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
}
.noCollections {
  text-align: center;
  font-size: 3rem;
  color: var(--color-green);
  margin-top: 3rem;
  font-weight: bold;
  @include respond(md) {
    font-size: 2rem;
  }
}
