@import "new_styles/abstract/mixins";

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;

  h2 {
    font-size: 2.6rem;
    color: var(--color-green);
  }

  a {
    color: var(--color-white);

    svg {
      width: 4.7rem;
      height: auto;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.4rem, 20.4rem));
  grid-auto-rows: 16rem;
  grid-gap: 2.7rem;
  justify-content: center;
}
