.asset {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(208.01deg, #14143d 8.59%, #101029 92.31%);
  border-radius: 0.3rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    z-index: 1;
    box-shadow: -0.4rem 0.4rem 0 var(--color-green);
    cursor: pointer;

    & .overlay {
      opacity: 1;
      visibility: visible;
      pointer-events: all;

      & button {
        transform: translateY(0);
      }
    }
  }
}

// no hover
.no-hover {
  &:hover {
    box-shadow: none;
    cursor: default;

    & .overlay {
      visibility: hidden;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
    }
  }
}

.figure {
  height: 35rem;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.hide_img {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -999;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: transparent;
}

.info {
  min-height: 9.7rem;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.detail {
  display: flex;
  flex-direction: column;

  & span:nth-child(1) {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: var(--color-light-blue);
  }

  & span:nth-child(2) {
    font-size: 1.6rem;
    display: flex;
    align-items: center;

    & svg {
      height: 1.6rem;
      width: auto;
      margin-right: 0.4rem;
    }
  }
}

.owner {
  position: absolute;
  top: 1.6rem;
  left: 1.8rem;
}

.priceText {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
