@import "new_styles/abstract/mixins";

.container {
  background: #0e0e22;
  backdrop-filter: blur(1.6rem);
  padding: 1.8rem 2.4rem;

  @include respond(xs) {
    padding: 1rem 1.6rem;
  }
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 6rem;
  color: var(--color-green);

  @include respond(xs) {
    font-size: 1.9rem;
    margin-bottom: 2rem;
  }
}

.table-container {
  overflow: auto;
}

.no-items {
  text-align: center;
  padding: 1rem;
  color: var(--color-light-blue);
  font-size: 1.8rem;
  text-shadow: 0 0 0.6rem var(--color-light-blue);
}
