@import "new_styles/abstract/mixins";

.container {
  max-width: 139.2rem;
  padding: 5rem 1.6rem;
  margin: 0 auto;

  & > * + * {
    margin-top: 4.5rem;
  }

  @include respond(xs) {
    padding: 3rem 1.6rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.3rem, 32.3rem));
  grid-gap: 2.2rem;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;

  h2 {
    font-size: 2.6rem;
    color: var(--color-green);
  }
}
