.table-container {
  max-height: 50rem;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  & th,
  td {
    padding: 1.5rem 0.8rem;
  }

  & th {
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #9c9c9c;

    & div {
      display: flex;
      align-items: center;

      & img {
        height: 1.8rem;
        width: 1.8rem;
        object-fit: cover;
        border-radius: 10rem;
        margin-left: 1.5rem;
      }
    }
  }

  & td {
    font-size: 1.5rem;

    & a {
      text-underline-offset: 0.2rem;
      font-weight: 500;
    }
  }

  & tr {
    border-bottom: 0.1rem solid #444444;
    transition: all 0.1s ease-in-out;

    &:hover {
      background: #1f1f1f;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
